/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #F0F4FF;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px; /* Set to the expanded width */
    display: flex;
    overflow-x: auto;
    flex-direction: column;
    background: #007960;
    padding: 25px 20px;
    transition: none; /* Remove the transition effect */
  }
  
  .sidebar .sidebar-header {
    display: flex;
    align-items: center;
  }
  
  .sidebar .sidebar-header h2 {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    white-space: nowrap;
    margin-left: 23px;
  }
  
  .sidebar-links h4 {
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    margin: 10px 0;
    position: relative;
  }
  
  .sidebar-links h4 span {
    opacity: 1; /* Ensure the text is always visible */
  }
  
  .sidebar-links .menu-separator {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #4f52ba;
    transform: none;
  }
  
  .sidebar-links {
    list-style: none;
    margin-top: 20px;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
  }
  
  .sidebar-links li a {
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    padding: 15px 10px;
    text-decoration: none;
    transition: 0.2s ease;
  }
  
  .sidebar-links li a:hover {
    color: #007960;
    background: #fff;
    border-radius: 4px;
  }
  
  

.search-input {
  background: #EEEEEE;
  color: #212121;
	vertical-align: middle;
  font-size: 16px;
  line-height: 2;
  padding: 10px 20px;
  border: 0;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2%;
  border-radius: 10px;
}
.search-submit i {
  font-size: 24px;
  background: #161a16;
  color: #FFFFFF;
	vertical-align: middle;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
}
tfoot {
  font-weight: bold;
  background-color: #f9f9f9;
}
tfoot td {
  border-top: 2px solid #ddd;
}
.toggle-btn {
  background-color: #007960;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5px;
  transition: background-color 0.3s;
}


.borrowed-books-container {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
}
.returnbtn {
  background: #007960;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}